@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uwy916');
  src:  url('fonts/icomoon.eot?uwy916#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uwy916') format('truetype'),
    url('fonts/icomoon.woff?uwy916') format('woff'),
    url('fonts/icomoon.svg?uwy916#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}


@media only screen and (max-width: 1000px) {
  .cardee {
    width: 50%;
  }
  nav {
    display: grid;
    position: fixed;
    z-index: 1000;
    width: 200px;
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease;
    grid-area: nav;
    
  }
  .active-nav nav {
    transform: translate3d(0, 0, 0);
  }
  nav ul {
    list-style-type: none;
    margin-top: 0px;
  }
  nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav-toggle-btn {
    display: block;
    position: absolute;
    left: 200px;
    width: 40px;
    height: 40px;
    background-color: #666;
  }
  .active-nav .content {
    transform: translate3d(200px, 0, 0);
  }
}
@media only screen and (max-width: 600px) {
  .cardee {
    width: 100%;
  }
}
nav ul{
  list-style-type: none;
}
li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.topnav {
  background-color: #bab089;
  padding-top: 1em;
  position: fixed;
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  grid-area: nav;
}

nav a {
  display: block;
  padding: 0.9em 1em;
  color: #592550;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

nav a:hover {
  background-color: #bab089;
}

.headcol-2, .col-2 {
  display: grid;
  grid-template-columns: 1fr;
}

main {
  background-color: #bab089;
}

header {
  background-color: #bab089;
}

footer {
  background-color: #bab089;
}
body{
  background-color: #d6d0b9;
}
.sidebar {
  color: #fff;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
  grid-area: sidebar;
}

.mal {
  grid-area: mal;
  background-color: #444;
  color: #fff;
  padding: 50px;
  height: 400px;
  width: 270px;
  border-radius: 5px;
  font-size: 150%;
  margin: 5em;
  text-align: center;  
}

.header {
  color: #fff;
  height: 150px;
  border-radius: 5px;
  padding: 30px;
  font-size: 150%;
  grid-area: header;
}

.footer {
  color: #fff;
  border-radius: 5px;
  height: 250px;
  font-size: 150%;
  grid-area: footer;
}

.col-4{
  display:-ms-grid;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:1em;
}
.col-4{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1fr;
  grid-template-columns:1fr 1fr;
  grid-gap:1em;
}
.col-4{
  display:-ms-grid;
  display:grid;
  grid-template-columns:repeat(4 1fr);
  grid-gap:2em;
}

.footer img{
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}
.footer li{
  list-style-type: none;
}
.texti{
  margin-top:450px;
  color: black;
}

.wrapper {
  margin-left: 20%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 440px 440px 440px;
  grid-template-areas:
  "nav nav nav"
  "header header mal"
  "sidebar sidebar mal"
  "footer  footer  footer";
}

.box {
  background-color: #444;
  color: #fff;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
.sMedia{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-flow:row;
  flex-flow:row;
  position:relative;
  -ms-flex-pack:distribute;
  justify-content:space-around;
}.sMedia a{
  display:block;
  margin:0 .5em;
  padding:0;
  text-align:center;
  color:white;
  text-decoration:none;
  font-size:1.1em;
}
.bubbles,.facebook,.github,.soundcloud{
  position:relative;
  height:2em;
  width:2.5em;
  padding:.8em 0 0 0;
  border-radius:50%;
  background-color:#8b7f51;
  -webkit-transition:width 1s ease;
  transition:width 1s ease;
}
.bubbles:hover,.facebook:hover,.github:hover,.soundcloud:hover{
  background-color:#a79a69;
  -webkit-transition:width 1s ease;
  transition:width 1s ease;
}
.sMedia{
  display:block;
  position:fixed;
  top:7em;
  right:.4em;
  height:10em;
  width:2.5em;
}
.sMedia div{
  width:2.5em;
  margin:.2em 0;
  padding:.6em 0 0 0;
}
.bubbles,.facebook2,.github,.soundcloud2{
  padding:.6em .6em 0 0;
}

.mal span{
  text-transform: uppercase;
  display: block;

}
.text1{
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

@keyframes text{
  0%{
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  80%{
    letter-spacing: 8px;
    margin-bottom: -20px; 
  }
  90%{
    margin-bottom: -40px;
  }
}
#kassi{
  animation: tolva 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#or{
  animation: or 2s ease-in-out infinite alternate;
}
@keyframes tolva{
    from{
      transform: rotateZ(0deg);
    }
    to{
      transform: rotateZ(360deg);
    }
}
@keyframes or{
    from{
      transform: rotateX(0deg);
    }
    to{
      transform: rotateX(20deg);
    }
}