img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .cardee {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .cardee {
    width: 100%;
  }
}
.topnav ul {
  margin: 0;
  padding: 0;
  float: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}